.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #F6F7F9;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.message {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  word-wrap: break-word;
  max-width: 80%;
}

.sender {
  background-color: #DCF8C6;
  align-self: flex-end;
  text-align: right;
}

.receiver {
  background-color: #FFFFFF;
  align-self: flex-start;
  text-align: left;
}

.input-container {
  display: flex;
  margin-top: 20px;
}

.input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #FFFFFF;
}

.input-button {
  padding: 10px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  background-color: #3C6ACF;
  color: #FFFFFF;
  cursor: pointer;
}

.doctorInfoBox {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.doctorName {
  font-weight: bold;
  margin-left: 10px;
}

.hospital {
  font-size: 14px;
  color: gray;
  margin-left: 10px;
}