a{
    text-decoration:none;
    color : #F0F0C6;
}

.header{
    width :100%;
    height:100px;
}
.Main{
    width :350px;
    height:100%;
    margin:0 auto;
    text-align: center;
}
.Fortune{
    width :100%;
    height:300px;
    margin: 0 auto
}
.btnBox{
    display:flex;
    justify-content: space-around;
    margin:20px;
}
.bwrite, .MY {
    width :100px;
    height:100px;
    align-items:center;
    background-color: #DCBE70;
    color:#F0F0C6 !important;
    font-weight: bold;
    border-radius:50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}
.cookie-message {
    font-size: 14px ;
    font-weight: 700;
    left: 148px;
    max-width: 100px;
    top: -123px;
    position: relative;
    transform: rotate(8deg);
}